main {
    padding: 2em 13%;
}

#calendar {
    border: 1px solid var(--paragraph1);
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    max-width: 100vw;
}

#calendar > li {
    padding: .5em;
    border: 1px solid var(--paragraph1);
}

#calendar > li:not(#month, .weekday){
    /* height: 5em; */
    padding: .25em;
    text-align: center;
}

.monthDay {
    margin: 0;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--background1);
    color: white;
    font-size: 16px;
    font-family: var(--heading-font);
}

#calendar #month {
    grid-column: 1 / span 7;
    text-align: center;
    background-color: var(--paragraph1);
    color: white;
    padding: 0;
    position: relative;
}

.arrow {
    position: absolute;
    width: 0; 
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#arrow1 {
    left: 30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:15px solid var(--buttontext);
}

#arrow2 {
    right: 30px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left:15px solid var(--buttontext);
}

.weekday {
    text-align: center;
}

.currDay p{
    background-color: var(--paragraph1);
    color: white;
}

.input, .practiceNum {
    width: 1.8em;
    font-size: 30px;
}

.practiceLabel{
    font-size: 15px;
    display: block;
    margin-bottom: .25em;
}

.practiceNum {
    display: block;
    margin: 10px auto;
    background-color: #072227;
    color: white;
    cursor: pointer;
    padding: 0;
}

.hidden {
    display: none;
}