:root {
    --paragraph1: #072227;
    --background1: #A76571;
    --background2: #AEADF0;
    --background3: #C38D94;
    --buttoncolor: #565676;
    --buttonhover: #6a6a88;
    --othercolor: #f2f3ff;
    --othercolor2: #D8DCFF;
    --heading-font: 'Mali', cursive;
    --paragraph-font: 'Gentium Book Basic', serif;

    --halloween-background1: #b96947;
    --halloween-background2: #8d5af9;
    --thanksgiving-background1: #815744;
    --thanksgiving-button: #e5d666;
    --thanksgiving-button-hover: #c8b171;
    --thanksgiving-button-text: #55473d;
    --christmas-background1: #529153;
    --christmas-button: #c84f4f;
    --christmas-button-hover: #e56666;
    --christmas-button-text: #ddd;
    --othercolor: #ddd
    
    
}

body {
    margin: 0;
    background-color: #eee;
}

header, footer {
    background-color: var(--christmas-background1);
    color: var(--othercolor);
    margin: 0;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    font-size: 20px;
}

.assignments {
    /* list-style-image: url("../images/pumpkin.png"); */
    list-style: none;
}

.assignments li {
    background: url('../images/christmas-star.png') no-repeat left center;
    margin-left: 25px;
    padding: 10px 0 4px 39px;
}

p, li, .assignments label {
    font-family: var(--paragraph-font);
    font-size: 17px;
}
.assignments label {
    display: inline-block;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: var(--othercolor2);
    border-radius: 14px;
}

#logo, h1 {
    margin-left: .5em;
    margin-right: .5em;
}

a {
    font-family: var(--paragraph-font);
    font-style: italic;
    font-weight: bold;
    color: var(--buttoncolor);
    text-underline-offset: 1px;
}

a:hover {
    color: var(--christmas-button);
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li, button {
    background-color: var(--christmas-button);
    border-radius: 5px;
    border: 1px solid var(--paragraph1);
    margin: 0 1em;
    max-width: 100%;
    width: 7em;
}

nav li:hover, button:hover {
    background-color: var(--christmas-button-hover);
}

nav a, button {
    text-decoration: none;
    display: block;
    color: var(--christmas-button-text);
    font-style: normal;
    padding: .75em;
}

nav a:hover, button {
    color: var(--othercolor);
    color: var(--paragraph1);/*christmas*/
}

button {
    width: 10em;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

#songs section {
    width: 250px;
    margin: 1em auto;
    /* height: 0;
    padding-bottom: 442.6px;
    position: relative; */
}

#songs section iframe {
    /* position: absolute; */
    width: 250px;
    height: 378.6px;
    border: 2px solid var(--christmas-background1);
}

.sub {
    text-align: center;
}

#list_view {
    display: none;
}

.audio-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.date {
    font-size: 20px;
    font-family: var(--heading-font);
}

input[type=checkbox] {
    cursor: pointer;
}