@media (min-width:1000px) {
    p, li, .assignments label {
        font-family: var(--paragraph-font);
        font-size: 22px;
    }

    #songs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        height: fit-content;
    }
}