@media (min-width:575px) {

    main {
        padding: 2em 13%;
    }

    p, li {
        font-size: 20px;
    }

    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }

    #songs section {
        width: 350px;
        /* height: 0;
        padding-bottom: 442.6px;
        position: relative; */
    }
    
    #songs section iframe {
        /* position: absolute; */
        width: 350px;
        height: 490px;
    }
}